<section class="login flex justify-center pt-20 ">

    <div class="bg-white shadow-md rounded px-12 pt-6 pb-8 mb-8">
        <div class="mb-4">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                Email
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-8 text-grey-darker" id="username"
                type="email" placeholder="Enter Your Email">
        </div>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                Password
            </label>
            <input class="shadow appearance-none border rounded w-full py-2 px-8 text-grey-darker mb-3"
                id="password" type="password" placeholder="******************">
            
        </div>
        <div class="flex items-center justify-between">
            <button class="btn-primary text-white font-bold py-2 px-4 rounded-full" type="button">
                Log In
            </button>
            <a class="inline-block align-baseline font-bold text-sm" href="/register">
                Don't have Account?
            </a>
        </div>
    </div>
</section>